@use '../helpers' as *;

.btn {
    border: rem(1) solid var(--color-accent);
    background-color: transparent;
    padding: rem(21) rem(60);

    @include tablet {
        padding: rem(19) rem(52);
    }

    @include mobile-l {
        padding: rem(15) rem(29);
    }
}